/* BLUE COLOR : #0086be*/ 
/* YELLOW  COLOR : #f9bf51*/ 

body{
		width: 100wh;
		height: 100vh;
		background-color: #282e40 !important;
}

.body-bg-moving {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #141E30, #243B55);
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}	
 
.btn{
	color: #282e40 !important;
}
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default){
	color: #FFFFFF;
	border-bottom: 1px solid #ffffff;
}

.input-field>label,
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFFFFF !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FFFFFF !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #FFFFFF !important;
}